<a href="https://colab.research.google.com/github/Anna-Filip/Repozytorium1/blob/main/Kopia_notatnika_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"
!pip -q install PyMySQL

 * Starting MySQL database server mysqld
   ...done.
ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

In [ ]:
!pip install sqlalchemy-utils

Requirement already satisfied: sqlalchemy-utils in /usr/local/lib/python3.7/dist-packages (0.38.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sqlalchemy-utils) (1.15.0)
Requirement already satisfied: SQLAlchemy>=1.0 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy-utils) (1.4.32)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.0->sqlalchemy-utils) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.0->sqlalchemy-utils) (1.1.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy>=1.0->sqlalchemy-utils) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy>=1.0->sqlalchemy-utils) (3.7.0)

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [ ]:
engine = create_engine("sqlite:///studenci.db", echo=True)
if not database_exists(engine.url):
    create_database(engine.url)

In [ ]:
from sqlalchemy.orm import sessionmaker

In [ ]:
Session = sessionmaker(bind=engine)

In [ ]:
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [ ]:
Base = declarative_base()

In [ ]:
class Students(Base):
     __tablename__ = 'Students'

     id = Column(Integer, primary_key=True)
     full_name = Column(String)
     grade = Column(Integer)
     zadłużenie = Column (Float)
     def __repr__(self):
           return "<Students(full_name='%s', grade='%s', zadłużenie='%s')>" % (
           self.full_name, self.grade, self.zadłużenie)

In [ ]:
session1 = Session()

In [ ]:
session1.add_all(
    [
     Students(full_name='Oskar Duda', grade='3', zadłużenie= 1345.43),
     Students(full_name='Mario Gra', grade='6', zadłużenie=8887.8)
    ]
)

In [ ]:
Base.metadata.create_all(engine)

2022-04-02 09:56:58,276 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-02 09:56:58,279 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Students")
2022-04-02 09:56:58,281 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-02 09:56:58,283 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
session1.commit()

2022-04-02 09:56:58,294 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-02 09:56:58,298 INFO sqlalchemy.engine.Engine INSERT INTO "Students" (full_name, grade, "zadłużenie") VALUES (?, ?, ?)
2022-04-02 09:56:58,301 INFO sqlalchemy.engine.Engine [generated in 0.00253s] ('Oskar Duda', '3', 1345.43)
2022-04-02 09:56:58,303 INFO sqlalchemy.engine.Engine INSERT INTO "Students" (full_name, grade, "zadłużenie") VALUES (?, ?, ?)
2022-04-02 09:56:58,306 INFO sqlalchemy.engine.Engine [cached since 0.007577s ago] ('Mario Gra', '6', 8887.8)
2022-04-02 09:56:58,308 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
from sqlalchemy import text

In [ ]:
sql = """
SELECT * 
FROM Students
"""
result = engine.execute(sql)
for row in result:
  print(row)

2022-04-02 09:57:55,652 INFO sqlalchemy.engine.Engine
SELECT *
FROM Students

2022-04-02 09:57:55,654 INFO sqlalchemy.engine.Engine [raw sql] ()
(1, 'Oskar Duda', 3, 1345.43)
(2, 'Mario Gra', 6, 8887.8)